[alias]
    amend = commit --amend --no-edit
    cm = commit --cleanup=whitespace --no-status
    graph = log --graph --oneline --decorate
    svncm = svn dcommit --rmdir
    ur = branch --no-track -f

[color]
    ui = auto

[core]
    autocrlf = false
    editor = vim
    excludesfile = "~/.gitignore"
    whitespace = cr-at-eol

[diff]
    renames = true
    tool = vimdiff

[fetch]
    prune = true

[merge]
    tool = vimdiff

[pull]
    rebase = true

[push]
    default = upstream

[user]
    name = "Gyumin Sim"
    email = sim0629@gmail.com
