[alias]
    amend = commit --amend --no-edit
    cm = commit --cleanup=whitespace --no-status
    graph = log --graph --oneline --decorate --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    svncm = svn dcommit --rmdir
    ur = branch --no-track -f

[color]
    ui = auto

[core]
    autocrlf = input
    editor = vim
    excludesfile = "~/.gitignore"
    whitespace = cr-at-eol

[diff]
    renames = true
    submodule = log
    tool = vimdiff

[fetch]
    prune = true

[log]
    follow = true

[merge]
    tool = vimdiff

[pull]
    rebase = true

[push]
    default = upstream

[user]
    name = "Gyumin Sim"
    email = sim0629@gmail.com
