[alias]
    cm = commit --cleanup=whitespace --no-status
    svncm = svn dcommit --rmdir

[core]
    autocrlf = false
    editor = vim
    whitespace = cr-at-eol

[color]
    ui = auto

[diff]
    tool = vimdiff

[user]
    name = sgm
    email = sim0629@gmail.com
